@import "./scss_vars.scss";
.todo-app {
  .edit-tasks-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    color: #ddd;

    &__title {
      text-align: center;
      color: wheat;
      margin-bottom: 32px;
      font-size: 2.2rem;
      margin-top: 48px;
    }
    .tsk-edit-form {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 6px;
      &__input {
        padding: 4px;
        font-size: 1.6rem;
      }
      .tsk-edit-form__cancel,
      .tsk-edit-form__save {
        background-color: wheat;
        border: none;
        border-radius: 4px;
      }
    }
  }
  .edit-tasks-block {
    .tsk-form-erros {
      text-align: center;
    }
  }
}

.App {
  margin-top: 28px;
  margin-bottom: 28px;
}

.add-task {
  margin-top: 32px;

  .todo-list__form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .todo-list__taskInput {
    padding: 8px;
    font-size: 1.6rem;
    border: 1px solid $color-general-dark;
    width: 70%;
  }
  .todo-list__cta {
    max-width: fit-content;
    padding: 8px;
    font-size: 1.6rem;
    border: 1px solid $color-general-dark;
    background-color: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
      color: wheat;
      background-color: $color-general-dark;
    }
  }
}

.tsk-form-erros {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
