*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
main {
  min-height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #221f1f;
  font-size: 2rem;
}
.active {
  font-weight: bold;
  font-size: 2.1rem;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.appshop__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.appshop__wrapper.hidden {
  display: none;
}
.appshop__sidesection,
.appshop__generalsection,
.appshop__additionsectioon {
  width: 100%;
}

button {
  border: none;
  box-shadow: none;
  padding: 6px 20px;
  color: beige;
  background: red;
  border-radius: 8px;
  font-size: 2rem;
  transition: background 0.5s ease;
}

button:hover,
button:focus {
  background: rgb(152, 45, 45);
  cursor: pointer;
}

button.local_orders_close {
  width: 26px;
  background: green;
  padding: 4px 4px;
  font-size: 1rem;
  margin-left: auto;
}

.appshop__menu {
  animation: fadeInUp;
  animation-duration: 0.8s;
}

ul {
  list-style-type: none;
  padding: 0;
}
.productList_section__list li {
  display: flex;
  justify-content: space-between;
}
.appshop__postorderpage {
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 1.4rem;
  margin: 0 auto;
}
.postorder_result {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid black;
  margin-bottom: 32px;
}
.postorder_result td {
  padding: 12px;
  border: 1px solid gray;
}
.postorder_result caption {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.localorders {
  margin-top: 32px;
  border: 1px solid green;
  padding: 6px 6px 0px 15px;
}
.local_orders_list,
.local_orders_list__link {
  font-size: 1.2rem;
}
.product_card {
  animation: fadeInRight;
  animation-duration: 1s;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.order-form {
  animation: fadeInUp;
  animation-duration: 1s;
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.order-form__label {
  font-size: 1.6rem;
  margin-bottom: 6px;
}

.order-form__input {
  font-size: 1.1rem;
  padding: 6px 6px;
  border: 1px solid gray;
}

.myorders__button {
  animation: fadeInLeft;
  animation-duration: 1s;
  background: rgb(155, 147, 101);
}

.order_report {
  animation: fadeInUp;
  animation-duration: 1s;
}
.order_report table {
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}
.order_report table td {
  padding: 10px;
  border: 1px solid grey;
}

.orderreport_buttonswrapper {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.orderreport_buttonswrapper button {
  font-size: 1.4rem;
  padding: 12px;
}

.orderreport_close {
  background: green;
}
.localorders {
  margin-top: 32px;
}
.localorders_list {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .appshop__wrapper {
    max-width: 1180px;
    margin: 0 auto;
  }
  .appshop__sidesection {
    width: 14%;
  }
  .appshop__generalsection {
    width: 56%;
  }
  .appshop__additionsectioon {
    width: 30%;
  }
  .appshop__sidesection,
  .appshop__generalsection {
    border-right: 1px solid grey;
    height: 100vh;
  }
  .appshop__additionsectioon {
    padding-left: 20px;
  }
  .productList_section__list {
    padding-left: 40px;
  }
  .productList_section__listprice {
    margin-right: 26px;
  }
  .localorders {
    max-width: 80%;
  }

  .orderreport_buttonswrapper button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
